
        .bg-border{
            border: 3px solid #0d6efd;
        }
        .fr{
            float: right;
        }

        .mb-m10{
            margin-bottom: -10px;
        }

        .form-control{
            border-radius:0px;
        }

        #hiddenField {
            display: none;
        }

        #hiddenFieldO {
            display: none;
        }


        .btn-link {
           text-decoration: none !important;
        }
        
        .btn-link:hover {
           color: none !important;
        }

        .btn-check:focus+.btn, .btn:focus {
            outline: 0;
            box-shadow: none !important;
        }

.tag {
    display: inline-flex;
    background-color: #e0f8ff;
    border-radius: 37px;
    padding: 2px 12px;
    margin: 5px;
    font-size: 14px;
    margin-top: 14px;
    padding-top: 0px;
    align-items: center;
}

.remove-tag {
    /* background-color: #ff5c5c; */
    /* border-radius: 50%; */
    color: #555555;
    cursor: pointer;
    padding: 0px 6px;
    margin-left: 4px;
    font-weight: bold;
    font-size: 22px;
}

        .accordion-item {
                background-color: #fff;
                border-top: 1px solid rgba(0, 0, 0, .125) !important;
                border-bottom: 1px solid rgba(0, 0, 0, .125) !important;
            }

            .hungry .selection {
            margin-bottom: 1em;
            }

            .hungry .selection label {
            display: inline-block;
            width:11em;
            background-color: #fff;
            border-radius: 40px;
            color: gray;
            border:1px solid gray;
            padding: 0.5em;
            cursor: pointer;
            text-align: center;
            }

            .hungry .selection label:hover {
            background-color: #e0f8ff;
            }

            .hungry .selection input[type=radio] {
            display: none;
            }

            .hungry .selection input[type=radio]:checked ~ label {
            background-color: #a3d6f6;
            color: #000;
}

    
